<% provide(:title, "Welcome") %>
<h1>Welcome to the Hangman game!</h1>

<%= render 'shared/new_game_button' %>

<p>Take a look at the <%= link_to "rules", rules_path %>!</p>
<p>See the list of all answers <%= link_to "here", answers_path %></p>
