<div>
  <%= form_for @guess_letter do |f|%>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :letter, "Take a guess:", class: 'label'  %>
    <%= f.text_field :letter, class: 'uppercase', :maxlength => 1, autofocus: true %>

    <%= f.hidden_field :game_id, :value => @guess_letter.game_id %>

    <%= f.submit "Guess"%>
  <% end %>
</div>