<%= form_for(@answer) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :word, "Add a new answer:", class: 'label' %>
  <%= f.text_field :word, class: 'uppercase', autofocus: true %>
  <%= f.submit "Add"%>
<% end %>