<% provide(:title, 'Answers') %>
<h1>Answers</h1>
<%= render 'form' %>
<ul>
  <% @answers.each do |answer| %>
    <li>
      <span class="answer"><%= answer.word %></span>
      |
      <%= link_to "delete", answer, method: :delete, 
                                    data: { confirm: "Do you want to delete the word?" },
                                    id: answer.id %>
    </li>
  <% end %>
</ul>
