<%if !@game.won? && !@game.lost?%>
  <%= render 'guessed_letters/form' %>
<% end %>

<p class="answer"><%= marked_answer @game %></p>

<p>Guessed Letters: <%= @game.display_all_guessed_letters %></p>
<p>Lives Remaining: <%= @game.lives_remain %></p>

<%if @game.won? || @game.lost?%>
  <%= game_over_message @game %>
  <%= render 'shared/new_game_button' %>
<% end %>
