// layout
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: grey;
}

.footer-nav {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center {
  text-align: center;
}

.nav-links {
  font-family: "Arial";
  font-size: larger
}

// fonts
.uppercase { 
  text-transform: uppercase;
}

.answer {
  font-family: "Comic Sans MS"
}

h1 {
  font-family: "Arial Black"
}

p {
  font-family: "Arial"
}

.label {
  font-family: "Arial"
}
