<footer class="footer">
  <nav class="footer-nav">
    <div class="center nav-links">
      <%= link_to "Home",   root_path %>
      <%= link_to "Answers", answers_path %>
    </div>
  </nav>
</footer>